<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;pre&gt;TODO&lt;/pre&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.wangyin.ams.cms.abs.ParaReadOnly.WReadonlyStringParameterDefinition plugin="readonly-parameters@1.0.0">
          <name>DEVOPS_ID</name>
          <description>构建标识(用于目录命名)</description>
          <defaultValue></defaultValue>
        </com.wangyin.ams.cms.abs.ParaReadOnly.WReadonlyStringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.0">
          <name>separator-3dd16621-434b-46fc-937f-c38a125b2f2e</name>
          <description></description>
          <sectionHeader>git仓库信息</sectionHeader>
          <sectionHeaderStyle>color: white;background: gray;font-family: Roboto, sans-serif !important;padding: 5px; text-align: center;</sectionHeaderStyle>
          <separatorStyle>border: 0;</separatorStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <com.wangyin.ams.cms.abs.ParaReadOnly.WReadonlyStringParameterDefinition plugin="readonly-parameters@1.0.0">
          <name>GIT_URL</name>
          <description>项目git地址</description>
          <defaultValue>https://github.com/hxh-robb/devops-facilities_workbench.git</defaultValue>
        </com.wangyin.ams.cms.abs.ParaReadOnly.WReadonlyStringParameterDefinition>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@0.9.6">
          <name>GIT_BRANCH</name>
          <description>&lt;pre&gt;&lt;!-- TODO --&gt;
项目git分支
&lt;/pre&gt;</description>
          <uuid>3c27bb1d-a168-4cb8-b2de-bacc83a168fe</uuid>
          <type>PT_BRANCH</type>
          <branch></branch>
          <tagFilter>*</tagFilter>
          <branchFilter>.*</branchFilter>
          <sortMode>ASCENDING_SMART</sortMode>
          <defaultValue>origin/master</defaultValue>
          <selectedValue>DEFAULT</selectedValue>
          <quickFilterEnabled>false</quickFilterEnabled>
          <listSize>0</listSize>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.0">
          <name>separator-b3ede52b-7950-4779-bf60-8bf1c5abe35b</name>
          <description></description>
          <sectionHeader>构建选项</sectionHeader>
          <sectionHeaderStyle>color: white;background: gray;font-family: Roboto, sans-serif !important;padding: 5px; text-align: center;</sectionHeaderStyle>
          <separatorStyle>border: 0;</separatorStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>MODS</name>
          <description>&lt;pre&gt;&lt;!-- TODO --&gt;
要构建的模块
&lt;ul&gt;
&lt;li&gt;ALL = 全模块部署(首次部署将强制使用全模块部署)&lt;/li&gt;
&lt;li&gt;UPDATED = 仅部署有更新的模块&lt;/li&gt;
&lt;/ul&gt;
&lt;/pre&gt;</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ALL</string>
              <string>UPDATED</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SKIP_DOCKER_PUSH</name>
          <description>&lt;pre&gt;&lt;!-- TODO --&gt;
是否跳过docker镜像推送
&lt;/pre&gt;</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.0">
          <name>separator-67d9f9f1-6e8a-4e17-b835-901a9d8bae26</name>
          <description></description>
          <sectionHeader>发布选项</sectionHeader>
          <sectionHeaderStyle>color: white;background: gray;font-family: Roboto, sans-serif !important;padding: 5px; text-align: center;</sectionHeaderStyle>
          <separatorStyle>border: 0;</separatorStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RELEASE_BUILD</name>
          <description>&lt;pre&gt;&lt;!-- TODO --&gt;
本次构建是否为发布版本
&lt;/pre&gt;</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_GIT_TAG</name>
          <description>&lt;pre&gt;&lt;!-- TODO --&gt;
发布版本标签(构建之前使用git tag命令标记关键commit)
&lt;/pre&gt;</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.wangyin.parameter.WHideParameterDefinition plugin="hidden-parameter@0.0.4">
          <name>SKIP</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </com.wangyin.parameter.WHideParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>1</maxConcurrentPerNode>
      <maxConcurrentTotal>1</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <com.joelj.jenkins.eztemplates.TemplateProperty plugin="ez-templates@1.3.2"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${GIT_URL}</url>
        <credentialsId>79e6475a-d09e-4f9f-869f-2585e9dd8c14</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${GIT_BRANCH}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/usr/bin/env bash

## Print out build parameters
echo &quot;==============================&quot;
echo &quot;DEVOPS_ID = [${DEVOPS_ID}]&quot;
echo &quot;GIT_URL = [${GIT_URL}]&quot;
echo &quot;GIT_BRANCH = [${GIT_BRANCH}]&quot;
echo &quot;MODS = [${MODS}]&quot;
echo &quot;SKIP_DOCKER_PUSH = [${SKIP_DOCKER_PUSH}]&quot;
echo &quot;RELEASE_BUILD = [${RELEASE_BUILD}]&quot;
echo &quot;RELEASE_GIT_TAG = [${RELEASE_GIT_TAG}]&quot;
echo &quot;SKIP = [${SKIP}]&quot;
echo &quot;==============================&quot;

## Skip this build
[ &quot;${SKIP}&quot; == &quot;true&quot; ] &amp;&amp; exit 0

## Module information file [.out/.mods] does not exist, it should be full build
([ ! -d &quot;.out&quot; ] || [ ! -f &quot;.out/.mods&quot; ] ) &amp;&amp; MODS=&quot;ALL&quot;

## Rewrite parameters and assign build options
OPT=&quot;&quot;
[ &quot;${SKIP_DOCKER_PUSH}&quot; == &quot;true&quot; ] &amp;&amp; OPT=&quot;${OPT}--skip-docker-push &quot;
[ &quot;${MODS}&quot; == &quot;UPDATED&quot; ] &amp;&amp; OPT=&quot;${OPT}--skip-unchanged-mods &quot;
([ &quot;${MODS}&quot; == &quot;ALL&quot; ] || [ &quot;${MODS}&quot; == &quot;UPDATED&quot; ]) &amp;&amp; MODS=&quot;&quot;

## Debug
echo &quot;OPT = [${OPT}]&quot;
echo &quot;MODS = [${MODS}]&quot;
echo &quot;==============================&quot;
#exit 0

## Updated module processing
# TODO

## Actually building
t1=$(date +&quot;%Y-%m-%d %H:%M:%S %z %:::z&quot;)
rm -rf ~/.m2/repository/com/sme
rm -rf .release
#./build.sh ${OPT} ${MODS}
./build.sh ${OPT} ${MODS}

## Clear outdated docker images
#echo &quot;==============================&quot;
docker rmi $(docker images -q -f dangling=true) &gt;/dev/null  2&gt;&amp;1 || true
echo &quot;==============================&quot;
docker images --filter &quot;dangling=false&quot; --format &quot;{{.Repository}}:{{.Tag}},{{.CreatedAt}}&quot;|grep $(cat .tag|awk -F&apos;:&apos; &apos;{print tolower($1)}&apos;)|grep -v /|\
while read image; do
  t2=&quot;$(echo $image|awk -F &apos;,&apos; &apos;{print $2}&apos;)&quot;
  mod=&quot;$(echo $image|awk -F &apos;,&apos; &apos;{print $1}&apos;)&quot;
  if [[ &quot;$t2&quot; &gt; &quot;$t1&quot; ]]; then
    echo &quot;$mod&quot;
  fi
done
echo &quot;==============================&quot;</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.6">
      <condition class="org.jenkins_ci.plugins.run_condition.contributed.ShellCondition" plugin="run-condition@1.2">
        <command>#!/usr/bin/env bash

[ &quot;${SKIP}&quot; == &quot;true&quot; ] &amp;&amp; exit 1 || exit 0</command>
      </condition>
      <buildStep class="hudson.plugins.parameterizedtrigger.TriggerBuilder" plugin="parameterized-trigger@2.35.2">
        <configs>
          <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
            <configs>
              <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                <properties>DEVOPS_ID=${DEVOPS_ID}
GIT_URL=${GIT_URL}
GIT_BRANCH=${GIT_BRANCH}</properties>
                <textParamValueOnNewLine>false</textParamValueOnNewLine>
              </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            </configs>
            <projects>init_mods-dropdown</projects>
            <condition>ALWAYS</condition>
            <triggerWithNoParameters>false</triggerWithNoParameters>
            <triggerFromChildProjects>false</triggerFromChildProjects>
            <block>
              <buildStepFailureThreshold>
                <name>FAILURE</name>
                <ordinal>2</ordinal>
                <color>RED</color>
                <completeBuild>true</completeBuild>
              </buildStepFailureThreshold>
              <unstableThreshold>
                <name>UNSTABLE</name>
                <ordinal>1</ordinal>
                <color>YELLOW</color>
                <completeBuild>true</completeBuild>
              </unstableThreshold>
              <failureThreshold>
                <name>FAILURE</name>
                <ordinal>2</ordinal>
                <color>RED</color>
                <completeBuild>true</completeBuild>
              </failureThreshold>
            </block>
            <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
          </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
        </configs>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.2"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>